@import url('font-kit/stylesheet.css');

* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    color: lightgray;
}

body {
    margin: 2%;
    background-color: rgb(14, 14, 14);
}

h1, h2 {
    font-family: 'norwesterregular';
}

div.section {
    background-color: rgb(44, 44, 44);
    margin: 20px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 10px;
}

p {
    display: inline-block;
}

span#focused-player {
    font-weight: bold;
}

#vs {
    font-weight: bold;
}

div#players-div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

div.players {
    margin: 10px;
}

div.bubble {
    padding: 10px 30px;
    margin: 15px 5px 5px;
    border-radius: 5px;
    font-weight: bold;
    background-color: gray;
    box-shadow: 0 5px 10px gray;
}

p.bubble-number {
    color: black;
}

div.stream-info-div {
    margin: 20px;
}

#series-details-div {
    display: flex;
    flex-direction: column;
}

#series-details-div p {
    margin: 10px;
} 

#series-length, #game-number {
    display: inline-block;
}

#game-number {
    text-align: left;
    width: 60%;
    padding-right: 0;
}

div.update-value-div {
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30%;
}

p.form-value-label {
    width: 180px;
    text-align: right;
}

div.input-div {
    margin: 5px;
    padding: 0 10%;
    width: 50%;
    text-align: left;
}

label.game-number-label, label.series-length-label {
    margin-left: 10px;
    font-weight: bold;
}

input {
    text-align: left;
    font-family: 'Source Sans Pro', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

#submit1, #submit2 {
    border-radius: 5px;
    background-color: rgb(12, 12, 12);
    color: rgb(146, 146, 146);
}