* {
  font-family: 'Fjalla One', sans-serif;
}

.circle canvas {
  padding: 15px;
  border-radius: 50%;
  background-color: #1c1c1c;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 6px;
}

.amount {
  width: 150px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  position: absolute;
  z-index: 20;
  color: white;
  left: 43px;
  top: 55px;
}

