* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

.replay-h1,  #replay-container, #blueImg, #orangeImg, #kph-identifier, .intermission {
    display: none;
}

h1 {
    font-family: sans-serif;
    font-size: 25px;
}

.replay-text-container {
    position: absolute;
    height: 75px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#goal-scorer-container {
    left: 1025px;
    width: 250px;
}

#assister-container {
    left: 1315px;
    width: 250px;
}

#time-taken-container {
    left: 1600px;
    width: 150px;
}

#goal-speed-container {
    left: 1800px;
    width: 120px;
}

#kph-identifier {
    padding: 5px;
    font-family: sans-serif;
    font-size: 15px;
}