* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 0;
    height: 80px;
    top: 0;
}

h1, h2 {
    height: fit-content;
}

img, video {
    height: 155px;
    position: absolute;
}

#scorebug-transition {
    z-index: 99;
    opacity: 0;
}

#games-left, #games-right {
    z-index: 200;
}

#name-left, #name-right {
    line-height: 35px;
    padding: 10px;
}

.left-name {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 210px;
    left: 90px;
}

.left-score {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 90px;
    left: 300px;
    font-size: 30px;
}

.time {
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 225px;
    left: 385px;
    height: 100px;
}

.right-score {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 90px;
    left: 610px;
    font-size: 30px;
}

.right-name {
    display: flex;
    align-items: center;
    justify-content: flex-start ;
    position: absolute;
    width: 210px;
    left: 700px;
}

.crawl {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    height: 130px;
    width: 360px;
    left: 320px;
}

#crawl {
    padding-bottom: 15px;
}

.lower-info {
    display: flex;
    left: 320px;
    position: absolute;
    height: 155px;
    width: 360px;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: 27px;
}